.fields{
    height: 95vh;
    width: 40vw;
    box-shadow: 4px 2px rgb(73, 73, 73);
    border-width: 2px;
    background-color: white;
    border-radius: 5px;
    margin-left: 30%;
    padding-left: 20px;
    padding-top: 10px;
}

.field-1{
    border: solid;
    width: 15vw;
    height: 8vh;
    box-shadow: 4px 2px rgb(73, 73, 73);
    border-width: 2px;
    background-color: white;
    border-radius: 5px;
    float: right;
    margin-right: 40px;
    list-style: none;
    margin-top: 10px;
}


