.search-bar {
  width: 90%; /* Adjusted width for smaller screens */
  margin: 0 auto; /* Center the search bar */
  height: 6vh;
  border-radius: 5px;
  color: purple;
  font-weight: bold;
  font-size: large;
  position: fixed;
  z-index: 100;
  top: 0; /* Stick to the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
}

.logo-sec {
  width: max-content;
  position: relative;
  float: right; 
  margin-right: 5%; /* Adjusted margin for smaller screens */
  align-items: center;
}

.filter-box {
  width: 90%; 
  margin: 50px auto;
  list-style-type: none;
  background-color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 20000;
  padding: 10px; 
  box-sizing: border-box; 
}

.job-card {
  width: 90%; /* Adjusted width for smaller screens */
  margin: 10px auto; /* Center the job cards */
  padding: 10px; /* Added padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container-1 {
  width: 90%; /* Adjusted width for responsiveness */
  margin-left: 70px ; /* Adjusted top margin to provide space for filter-box */
  padding: 10px; /* Added padding */
  box-sizing: border-box; /* Include padding in width calculation */
   /* Fill remaining height */
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: whitesmoke;
  border-radius: 2px;
  box-shadow: 0px 0px 24px #5C5696;
}


.apply-button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .search-bar, .filter-box, .job-card, .card-container-1 {
      width: 90%;
  }

  .logo-sec {
      margin-right: 5%;
  }
}
