.list-item li {
  float: none; /* Remove float for better responsiveness */
  list-style-type: none;
  margin-right: 10px; /* Decrease margin */
  margin-left: 5px; /* Decrease margin */
  display: inline;
  cursor: pointer;
}

.list-item {
  padding-top: 2vh; /* Adjusted padding */
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: auto; /* Set height to auto for flexibility */
  background-color: rgba(216, 212, 212, 0.884);
  border-bottom: solid white 2px;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap; /* Prevent items from wrapping */
}

.list-item-active {
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.questions {
  max-width: 90%; /* Adjusted maximum width for responsiveness */
  margin: 0 auto;
  margin-top: 10px;
}

.question {
  margin-bottom: 10px; /* Decrease margin */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px; /* Decrease padding */
  border-radius: 5px;
  margin-bottom: 3px; /* Decrease margin */
}

li:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.selected:hover {
  background-color: #0056b3;
}
